<h2 class="mt-3">
  Wybierz interesujące Cie usługi</h2>
<ngb-tabset justify="center" type="pills" #t="ngbTabset" [destroyOnHide]="false">
  <ngb-tab id="female" title="Damskie" [disabled]="checkIfDisabled('female')">
    <ng-template ngbTabContent>
      <div class="d-flex flex-column align-items-center">
        <div class="icon-container my-3 rounded-circle bg-white">
          <img src="assets/icons/woman.png" class="d-block w-100 rounded-circle">
        </div>
      </div>
      <div class="card mb-3" *ngFor="let category of femaleCategories">
        <div class="card-header bg-dark text-white">
          {{category.name}}
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{'list-group-item-success': service.selected}"
              *ngFor="let service of category.services">
              <div>
                <p class="mb-0">{{service.name}}</p>
                <p class="mb-0 small">{{service.description}}</p>
                <p class="mb-0 small">Szacowany czas usługi: {{service.time}} minut</p>
                <span class="badge badge-primary badge-pill">{{service.price}} zł</span>
              </div>
              <div>
                <button class="btn btn-success" (click)="onAdd(service)" *ngIf="!service.selected">
                  <span class="fa fa-plus"></span> Dodaj
                </button>
                <button class="btn btn-danger" (click)="onDelete(service)" *ngIf="service.selected">
                  <span class="fa fa-minus"></span> Usuń
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="male" title="Męskie" [disabled]="checkIfDisabled('male')">
    <ng-template ngbTabContent>
      <div class="d-flex flex-column align-items-center">
        <div class="icon-container my-3 rounded-circle bg-white">
          <img src="assets/icons/man.png" class="d-block w-100 rounded-circle">
        </div>
      </div>
      <div class="card mb-3" *ngFor="let category of maleCategories">
        <div class="card-header bg-dark text-white">
          {{category.name}}
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{'list-group-item-success': service.selected}"
            *ngFor="let service of category.services">
              <div>
                <p class="mb-0">{{service.name}}</p>
                <p class="mb-0 small">{{service.description}}</p>
                <p class="mb-0 small">Szacowany czas usługi: {{service.time}} minut</p>
                <span class="badge badge-primary badge-pill">{{service.price}} zł</span>
              </div>
              <div>
                <button class="btn btn-success" (click)="onAdd(service)" *ngIf="!service.selected">
                  <span class="fa fa-plus"></span> Dodaj
                </button>
                <button class="btn btn-danger" (click)="onDelete(service)" *ngIf="service.selected">
                  <span class="fa fa-minus"></span> Usuń
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary" (click)="onNext()" [disabled]="checkedServices.length === 0">Dalej</button>
</div>