<div class="container">
  <div class="row">
    <div class="col-6">


      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">Imię</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" aria-describedby="emailHelp">
          <small class="text-danger" *ngIf="firstName.invalid && firstName.touched">
            <ng-template [ngIf]="firstName.errors?.required">Pole wymagane</ng-template>
          </small>
        </div>
        <div class="form-group">
          <label for="lastName">Nazwisko</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" aria-describedby="emailHelp">
          <small class="text-danger" *ngIf="lastName.invalid && lastName.touched">
            <ng-template [ngIf]="lastName.errors?.required">Pole wymagane</ng-template>
          </small>
        </div>
        <div class="form-group">
          <label for="position">Stanowisko</label>
          <input type="text" class="form-control" id="position" formControlName="position" aria-describedby="emailHelp">
          <small class="text-danger" *ngIf="position.invalid && position.touched">
            <ng-template [ngIf]="position.errors?.required">Pole wymagane</ng-template>
          </small>
        </div>
        <div class="form-group">
          <label for="description" class="form-label">Opis</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
          <small class="text-danger" *ngIf="description.invalid && description.touched">
            <ng-template [ngIf]="description.errors?.required">Pole wymagane</ng-template>
          </small>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="onFileChange($event)" />
          <label class="custom-file-label" for="validatedCustomFile">Wybierz plik...</label>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Stwórz</button>
      </form>
    </div>
  </div>
</div>