<div class="modal-header">
  <h4 class="modal-title pull-left">Odzyskiwanie hasła</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-0">
  <div class="container-fluid">
    <p>Podaj adres email, na który zostanie wysłane nowe hasło do Twojego konta.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" class="form-control" id="loginEmail" formControlName="email" aria-describedby="emailHelp">
            <small class="text-danger" *ngIf="email.invalid && email.touched">
              <ng-template [ngIf]="email.errors?.required">Pole wymagane</ng-template>
              <ng-template [ngIf]="email.errors?.email">Niepoprawny email</ng-template>
            </small>
          </div>
        </div>
        <div class="col-12 d-flex flex-column">
          <button type="submit" class="btn btn-lg btn-primary" [disabled]="form.invalid || isResetting">
            <ng-template [ngIf]="!isResetting">Przypomnij hasło</ng-template>
            <app-spinner *ngIf="isResetting"></app-spinner>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>