<section class="py-3 bg-light view-height ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Historia wizyt</h2>
        <ul class="list-group">
          <li href="/" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let visit of visits">
            <div class="d-flex w-100 justify-content-between">
              <ul class="llist-group p-0 m-0">
                <li class="list-group-item d-inline-block" *ngFor="let service of visit.services">{{service}}</li>
              </ul>
              <div>
                <p class="mb-0 small">{{visit.date}}</p>
                <p class="mb-0 text-right">{{visit.price}}zł</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>