<section class="d-flex align-items-center" id="home">
    <div class="container d-flex position-relative">
        <div class="row align-items-center">
            <div class="col-12 mb-5 mb-md-0 position-relative text-white">
                <h1 class="display-4">Odkryj się na nowo</h1>
                <p class="lead text-justify">Grupa profesjonalistów czeka na Ciebie. Dzięki naszym zabiegom dostrzeżesz swój styl na nowo.</p>
                <a href="/" class="btn btn-lg btn-success">Umów wizytę</a>
            </div>
        </div>
    </div>
</section>

