<section class="d-flex align-items-center">
  <div class="container h-100">
      <div class="row align-items-center">
          <div class="col-12 mb-5 mb-md-0 position-relative text-white">
              <h1 class="display-4">Odkryj się na nowo</h1>
              <p class="lead">Grupa profesjonalistów czeka na Ciebie. Dzięki naszym zabiegom dostrzeżesz swój styl na nowo.</p>
              <a href="#" class="btn btn-lg btn-success">Umów wizytę</a>
          </div>
      </div>
      <a href="#" class="btn btn-link btn-scroll text-white">
        <span class="fa fa-angle-double-down"></span>
      </a>          
  </div>
</section>

