section {
    background-image: url('/assets/images/female-hair.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      min-height: 500px;
      height: calc(100vh - 56px);
    }
}

.btn-scroll {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    font-size: 1.5rem;
    animation: bounce 2s infinite 2s;
    transition: all .2s ease-in;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      transform: translate(-50%, 0);
    }
    40% {
      transform: translate(-50%, -10px);
    }
    60% {
      transform: translate(-50%, -5px);
    }
  }