<section class="py-3 bg-dark" id="footer">
  <div class="container text-white">
    <div class="row">
      <div class="col-sm-4">
          <h5 class="text-success">O nas</h5>
            <p class="text-justify">
              Jesteśmy salonem urody, który zajmuje się Państwa wyglądem od 10 lat. Oferujemy profesjonalne strzyżenie i modelowanie włosów.
              W naszej ofercie znajdą Państwo również make-up, manicure oraz pedicure.
            </p>
      </div>
      <div class="col-sm-4">
					<h5 class="text-success">Kontakt</h5>
            <ul class="list-unstyled contact-list">
              <li class="position-relative mt-2">
                <span class="fa fa-map-marker"></span> ul. Rojna 12, Łódź
              </li>
              <li class="position-relative mt-2">
                <span class="fa fa-phone"></span> +48 123 456 789
              </li>
              <li class="position-relative mt-2">
                <span class="fa fa-envelope-o"></span>
                <a class="text-success" href="mailto:kontakt@hairsalon.com">kontakt@hairsalon.com</a>
              </li>
            </ul>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-12">
              <h5 class="text-success">Godziny otwarcia</h5>
              <p class="small mb-0">Pon - Pt</p>
              <p>08:00 - 18:00</p>
          </div>
          <div class="col-12">
            <h5 class="text-success">Znajdź nas:</h5>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com" class="text-white link-social d-block rounded-circle bg-secondary"><span class="fa fa-facebook"></span></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com" class="text-white link-social d-block rounded-circle bg-secondary"><span class="fa fa-instagram"></span></a></li>
              <li class="list-inline-item"><a href="https://www.youtube.com" class="text-white link-social d-block rounded-circle bg-secondary"><span class="fa fa-youtube-play"></span></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com" class="text-white link-social d-block rounded-circle bg-secondary"><span class="fa fa-linkedin"></span></a></li>              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <div class="mt-3">
            <p>
                <span class="fa fa-copyright mr-1"></span><span class="mr-1">2018</span><span>Hair Studio. All rights reserved.</span>
            </p>
            <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a></p>
            
          </div>
      </div>
    </div>
  </div>
</section>