<section class="py-3 bg-light view-height ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h1>Skontaktuj się z nami</h1>
        <p class="mb-0">Masz pytania? Chcesz poznać więcej szczegółów odnośnie naszych usług?</p>
        <p>Wyślij wiadomość, postaramy się odpowiedzieć jak najszybciej.</p>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="inputEmail3" class="form-label">Imię</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="form-label">Nazwisko</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="form-label">Email</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="form-label">Wiadomość</label>
                <textarea class="form-control"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 mt-3 mt-sm-0">
        <h5>Dane kontaktowe</h5>
        <app-contact-list></app-contact-list>
        <app-map></app-map>
      </div>
    </div>
  </div>
</section>