<section class="py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h1>Skontaktuj się z nami</h1>
        <p class="mb-0">Masz pytania? Chcesz poznać więcej szczegółów odnośnie naszych usług?</p>
        <p>Wyślij wiadomość, postaramy się odpowiedzieć jak najszybciej.</p>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="firstName" class="form-label">Imię</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName">
                <small class="text-danger" *ngIf="firstName.invalid && firstName.touched">
                  <ng-template [ngIf]="firstName.errors?.required">Pole wymagane</ng-template>
                </small>
              </div>
              <div class="form-group">
                <label for="lastName" class="form-label">Nazwisko</label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName">
                <small class="text-danger" *ngIf="lastName.invalid && lastName.touched">
                  <ng-template [ngIf]="lastName.errors?.required">Pole wymagane</ng-template>
                </small>
              </div>
              <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <small class="text-danger" *ngIf="email.invalid && email.touched">
                  <ng-template [ngIf]="email.errors?.required">Pole wymagane</ng-template>
                  <ng-template [ngIf]="email.errors?.email">Niepoprawny email</ng-template>
                </small>
              </div>
              <div class="form-group">
                <label for="message" class="form-label">Wiadomość</label>
                <textarea class="form-control" id="message" formControlName="message"></textarea>
                <small class="text-danger" *ngIf="message.invalid && message.touched">
                  <ng-template [ngIf]="message.errors?.required">Pole wymagane</ng-template>
                </small>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isSending">Wyślij wiadomość</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 mt-3 mt-sm-0">
        <h5>Dane kontaktowe</h5>
        <app-contact-list></app-contact-list>
        <app-map></app-map>
      </div>
    </div>
  </div>
</section>