<div class="d-flex flex-wrap" *ngIf="!isLoading">
    <div class="card m-2 flex-grow-1" *ngFor="let category of services">
        <div class="card-header bg-dark text-white">
            {{category.name}}
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let service of category.services">
                    <div>
                        <p class="mb-0">{{service.name}}</p>
                        <p class="mb-0 small">{{service.description}}</p>
                    </div>
                    <span class="badge badge-primary badge-pill">{{service.price}} zł</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" [hidden]="!isLoading">
    <div class="col-12 d-flex flex-column align-items-center">
        <app-spinner size="big"></app-spinner>
        <p>Wczytywanie danych</p>
    </div>
</div>