<section class="py-3 bg-light" id="team">
  <div class="container">
    <ng-template [ngIf]="!isLoading">
      <h1>Nasz zespół</h1>
      <div class="row mt-3 align-items-center" *ngFor="let employee of employees">
        <div class="col-12 col-sm-4">
          <img class="d-block w-100" [src]="employee.image" alt="{{employee.lastName + 'employee photo'}} ">
        </div>
        <div class="col-12 col-sm-8">
          <h2>{{employee.firstName}} {{employee.lastName}}</h2>
          <p class="text-secondary">{{employee.position}}</p>
          <p>{{employee.description}}</p>
        </div>
      </div>
    </ng-template>
    <div class="row" *ngIf="isLoading">
      <div class="col-12 d-flex flex-column align-items-center">
        <app-spinner size="big"></app-spinner>
        <p>Wczytywanie pracowników</p>
      </div>
    </div>
  </div>
</section>