<div class="row">
  <div class="col-12 col-sm-6 d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-column">
      <div class="icon-container rounded-circle bg-light">
        <img src="assets/icons/woman.png" class="d-block w-100 rounded-circle">
      </div>
      <h2>Dla Niej</h2>
    </div>
    <ul class="list-unstyled">
      <li></li>
    </ul>
  </div>
  <div class="col-12 col-sm-6 d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-column">
        <div class="icon-container rounded-circle bg-light">
          <img src="assets/icons/man.png" class="d-block w-100 rounded-circle">
        </div>
        <h2>Dla Niego</h2>
      </div>
      <ul class="list-unstyled">
        <li></li>
      </ul>
  </div>
</div>
