<div class="modal-header">
  <h4 class="modal-title pull-left">Zmiana hasła</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-0">
  <div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onRegister()" novalidate>
      <div class="alert alert-danger" *ngIf="error">{{error}}</div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="currentPassword">Obecne hasło</label>
            <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
            <small class="text-danger" *ngIf="currentPassword.invalid && currentPassword.touched">
              <ng-template [ngIf]="currentPassword.errors?.required">Pole wymagane</ng-template>
            </small>
          </div>
          <div class="form-group">
            <label for="newPassword">Nowe hasło</label>
            <div class="input-group">
            <input [type]="isHidden ? 'password' : 'text'" class="form-control" id="newPassword" formControlName="newPassword">
            <div class="input-group-append">
              <button class="btn" type="button" (click)="onShowPassword()"><span class="fa fa-eye"></span></button>
            </div>
            </div>
            <small class="text-danger" *ngIf="newPassword.invalid && newPassword.touched">
              <ng-template [ngIf]="newPassword.errors?.required">Pole wymagane</ng-template>
            </small>
          </div>
        </div>
        <div class="col-12 d-flex flex-column">
          <button type="submit" class="btn btn-lg btn-primary" [disabled]="form.invalid || isResetting">
            <ng-template [ngIf]="!isResetting">Zmień hasło</ng-template>
            <app-spinner *ngIf="isResetting"></app-spinner>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>