<section class="bg-light py-3 view-height">
  <div class="container">
    <ngb-tabset #tabSet="ngbTabset" [destroyOnHide]="false">
      <ngb-tab id="services" title="1. Umów wizytę">
        <ng-template ngbTabContent>
          <app-categories-list (nextClick)="onTabChange('employee')" (selectedServices)="onSelectedServices($event)" [femaleCategories]="femaleServices" [maleCategories]="maleServices"></app-categories-list>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="employee" title="2. Fryzjer" [disabled]="selectedServices.length === 0">
        <ng-template ngbTabContent>
          <app-employee-select-list [employees]="employees" (nextClick)="onTabChange('date')" (backClick)="onTabChange('services')"
            (selectedEmpl)="onEmployeeSelect($event)"></app-employee-select-list>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="date" title="3. Termin" [disabled]="selectedEmployee == null || selectedServices.length === 0">
        <ng-template ngbTabContent>
            <app-appointment-date #dateTab (nextClick)="onTabChange('confirmation')" [selectedServices]="selectedServices" [employee]="selectedEmployee"
             (backClick)="onTabChange('employee')"
             (hourSelect)="onSelectedDate($event)"></app-appointment-date>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="confirmation" title="4. Potwierdzenie" [disabled]="selectedEmployee == null || selectedServices.length === 0 || selectedDate == null">
        <ng-template ngbTabContent>
          <app-confirmation [employee]="selectedEmployee" [services]="selectedServices" [date]="selectedDate"
          (backClick)="onTabChange('date')" (submit)="onSubmit()"></app-confirmation>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</section>