<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="name">Nazwa kategorii</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <small class="text-danger" *ngIf="categoryName.invalid && categoryName.touched">
            <ng-template [ngIf]="categoryName.errors?.required">Pole wymagane</ng-template>
          </small>
        </div>
        <div class="form-group">
          <p class="mb-0">Rodzaj</p>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" formControlName="type" value="female"> Damski
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" formControlName="type" value="male"> Męski
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <p class="h4">Usługi</p>
          <button class="btn btn-success" type="button" (click)="onAdd()">
            <span class="fa fa-plus mr-1"></span>
            <span>Dodaj</span>
          </button>
        </div>
        <div class="row" formArrayName="services">
          <div class="col-12" *ngFor="let service of services.controls; let i = index;" [formGroupName]="i">
            <div class="card position-relative mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label class="form-control-label">Nazwa</label>
                      <input type="text" class="form-control" formControlName="name">
                      <small class="text-danger" *ngIf="service.controls['name'].invalid && service.controls['name'].touched">
                        <ng-template [ngIf]="service.controls['name'].errors?.required">Pole wymagane</ng-template>
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label class="form-control-label">Cena</label>
                      <input type="number" class="form-control" formControlName="price">
                      <small class="text-danger" *ngIf="service.controls['price'].invalid && service.controls['price'].touched">
                        <ng-template [ngIf]="service.controls['price'].errors?.required">Pole wymagane</ng-template>
                        <ng-template [ngIf]="service.controls['price'].errors?.min">Nieprawidłowa wartość</ng-template>                                                
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label class="form-control-label">Czas (minuty)</label>
                      <input type="number" class="form-control" formControlName="time">
                      <small class="text-danger" *ngIf="service.controls['time'].invalid && service.controls['time'].touched">
                        <ng-template [ngIf]="service.controls['time'].errors?.required">Pole wymagane</ng-template>
                        <ng-template [ngIf]="service.controls['time'].errors?.min">Nieprawidłowa wartość</ng-template>                        
                      </small>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Opis</label>
                      <textarea class="form-control" formControlName="description"></textarea>
                      <small class="text-danger" *ngIf="service.controls['description'].invalid && service.controls['description'].touched">
                        <ng-template [ngIf]="service.controls['description'].errors?.required">Pole wymagane</ng-template>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-sm btn-delete btn-danger" type="button" (click)="onRemove(i)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-secondary mr-3" type="button" (click)="onClose()">Anuluj</button>
      <button class="btn btn-success" type="submit" [disabled]="form.invalid">{{label}}</button>
    </div>
  </form>
</div>