/* You can add global styles to this file, and also import other style files */
.modal-image {
  .modal-body {
    padding: 0;
  }
}

body {
  margin-top: 57px;
}

.view-height {
  min-height: calc(100vh - 57px);
}

.form-label.required:after {
  color: #d00;
  content: '*';
  position: absolute;
  margin-left: 5px;
}

.ng-invalid {
  &.ng-touched,
  &.ng-dirty {
    border-color: #d00;
  }
}

.ng-valid {
  &.ng-touched,
  &.ng-dirty {
    border-color: green;
  }
}
.alert-container {
    .alert {
        margin-bottom: 0;
    }
}
