<section class="py-3">
  <div class="container">
    <h1 class="text-center">Galeria prac</h1>
    <div class="row">
      <div class="col-12 col-sm-6" *ngFor="let number of [1,2,3,4,5]">
        <div class="img-container mt-3">
          <img src="assets/images/beauty.jpg" alt="" class="image d-block w-100">
          <div class="img-hover-box">
            <a href="#" class="btn btn-outline-primary"><span class="fa fa-search-plus"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>